<template>
  <div class="container">
    <div class="c-card">
      <!-- <p>Global:{{this.coronaData.Global}}</p> -->
      <p>WORLD WISE DATA</P>
      <!-- <p>NewConfirmed:{{this.coronaData.Global.NewConfirmed}}</p>
      <p>TotalConfirmed:{{this.coronaData.Global.TotalConfirmed}}</p>
      <p>NewDeaths:{{this.coronaData.Global.NewDeaths}}</p>
      <p>TotalDeaths:{{this.coronaData.Global.TotalDeaths}}</p>
      <p>NewRecovered:{{this.coronaData.Global.NewRecovered}}</p>
      <p>TotalRecovered:{{this.coronaData.Global.TotalRecovered}}</p> -->
    </div>
    <hr />
    <div class="c-card-container">
      <!-- <P>COUNTRIES DATA</p> -->
      <!-- <hr> -->
      <div class="c-card" v-for="(countries,index) in selectedCountries" :key="index" >
        <p>Country:{{countries.Country}}</p>
        <p>Date:{{countries.Date}}</p>
        <p>New Confirmed:{{countries.NewConfirmed}}</p>
        <p>Total Confirmed:{{countries.TotalConfirmed}}</p>
        <p>New Deaths:{{countries.NewDeaths}}</p>
        <p>Total Deaths:{{countries.TotalDeaths}}</p>
        <p>New Recovered:{{countries.NewRecovered}}</p>
        <p>Total Recovered:{{countries.TotalRecovered}}</p>
        <!-- <hr /> -->
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "app",
  data() {
    return {
      coronaData: {},
      selectedCountries: [],
      requiredCountryNames: ['India', 'Australia', 'Canada','Singapore','United States of America'],
      dataReady: false
    };
  },
  methods: {
    getcovidData() {
      axios.get("https://api.covid19api.com/summary").then(response => {
        this.coronaData = response.data;
        this.dataReady = true;

        this.selectedCountries = this.coronaData.Countries.filter((country) => {
          return this.requiredCountryNames.includes(country.Country);
        })
        console.log(response.data);
      });
    }
  },
  mounted: function() {
    this.getcovidData();
  }
};
</script>

<style lang="scss">

.c-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.c-card {
  width: 350px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  padding: 10px;
  margin: 5px;
  background-color: #de9c9c;
  p {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
  }
}
</style>
